.App {
  text-align: center;
} 

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  padding: 3rem 0;
  width: 100%;
  font-family: 'JetBrains Mono';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 2rem;
}

.container {
  background: #ccc;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 900px;
  width: fit-content;
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  flex-wrap: wrap;
  box-shadow: 0.5rem 2rem 3rem rgba(1, 1, 1, 0.3);
}